body{
	margin: 0;
	background: #428bca;
	
}

.contenedor{

	display: flex;
	justify-content: space-evenly;

}

.cuadrado{
	
	margin: 100px 50px;
	width: 100px;
	height: 100px;
	background: #76b933;
	font.size: 15px;
	text-align: center;
	line-height: 100px;
	margin: 15px;
	transition: all 2s;
	-webkit-transition: 1s linear;

}

.cuadrado:hover{

	background: purple;
	-webkit-transform: rotate(300deg);
  	transform: rotate(300deg);
}



.circulo{
	width: 100px;
	height: 100px;
	background: #76b933;
	border-radius: 50%;	
	font.size: 15px;
	text-align: center;
	line-height: 100px;
	margin: 15px;
	transition: all 2s;
	-webkit-transition: 1s linear;
}

.circulo:hover{

	background: purple;
	-webkit-transform: scale(2);
  	transform: scale(2);

}

.triangulo{
	width: 0px;
	height: 0px;
  	border-top:0px solid transparent ;
  	border-bottom:100px solid #8AC007 ;
  	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	font.size: 15px;
	text-align: center;
	line-height: 100px;
	margin: 15px;
	transition: all 2s;
	-webkit-transition: 1s linear;

}

.triangulo:hover{

	border-bottom:100px solid purple;
	-webkit-transform: translate(25%);
  	transform: translate(25%);

}

.trapecio{
	width: 100px;
	height: 0px;
  	border-top:0px solid transparent ;
  	border-bottom:100px solid #8AC007 ;
  	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	font.size: 15px;
	text-align: center;
	line-height: 100px;
	margin: 15px;
	transition: all 2s;
	-webkit-transition: 1s linear;
	
}

.trapecio:hover{
	
	border-bottom:100px solid purple ;
	-webkit-transform: skewY(10deg);
	transform: skewY(10deg);

}